html {
  background: url(images/desktop.jpg) no-repeat center center fixed;
  background-size: cover;
  font-family: sans-serif;
}

body {
  display: grid;
  justify-items: center;
  align-items: center;
  height: 100vh;
}

#phone {
  max-width: 337px;
  background: url(images/smartphone.svg) no-repeat center;
  background-size: contain;
  padding: 10% 6% 10% 5%;
}


#words {
  font-size: 21px;
  color: white;
  min-height: 140px;
}

#number {
  font-size: 42px;
  color: white;
  min-height: 70px;
  width: 100%;
  padding: 10px;
  display: grid;
  justify-items: end;
  align-items: center;
}

#pad {
  display: grid;
  grid-template-columns: repeat(3, minmax(60px, 1fr));
  grid-gap: 10px;
}

#pad button {
  cursor: pointer;
  font-size: 20px;
  display: grid;
  padding: 15px 10px;
  justify-items: center;
  align-items: center;
  color: white;
  border: 1px solid #222;
  border-radius: 4px;
}

.digit {
  background: gray;
}

#del {
  background: firebrick;
}

#clear {
  background: steelblue;
}
